extends layout

block content
    html(lang="pl")
        head
            meta(charset="UTF-8")
        body
            header
                h1 Przetargi.pl
            nav
                ul(id="navi")
                    a(href="/")
                        li Strona główna
                    a(href="/actual-tenders")
                        li Lista trwających przetargów
                    a(href="/cancelled-tenders")
                        li Lista zakończonych przetargów
                    a(href="/add-tender")
                        li Dodaj przetarg
            article
                h2 Lista trwających przetargów
                table
                    thead
                        tr
                            th Lp
                            th Nazwa przedmiotu przetargu
                            th Data rozpoczęcia
                            th Godzina rozpoczęcia
                            th Data zakończenia
                            th Godzina zakończenia
                        tbody
                            each tender, index in tenders
                                tr
                                    td #{index + 1}
                                    td=tender.Name
                                    td=tender.StartDate
                                    td=tender.StartTime
                                    td=tender.EndDate
                                    td=tender.EndTime

            footer Przetargi.pl 2025