extends layout

block content
    html(lang="pl")
        head
            meta(charset="UTF-8")
        body
            header
                h1 Przetargi.pl
            nav
                ul(id="navi")
                    a(href="/")
                        li Strona główna
                    a(href="/actual-tenders")
                        li Lista aktualnych przetargów
                    a(href="/cancelled-tenders")
                        li Lista zakończonych przetargów
                    a(href="/add-tender")
                        li Dodaj przetarg
            article
                h2 Szczegóły przetargu
                table
                    tr
                        td Nazwa przedmiotu przetargu
                        td=tenders[0].subjectName
                    tr
                        td Nazwa instytucji zamawiającej
                        td=tenders[0].institution
                    tr
                        td Opis przetargu
                        td=tenders[0].description
                    tr
                        td Data rozpoczęcia zbierania ofert
                        td=tenders[0].f_startDate
                    tr
                        td Godzina rozpoczęcia zbierania ofert
                        td=tenders[0].startTime
                    tr
                        td Data zakończenia zbierania ofert
                        td=tenders[0].f_endDate
                    tr
                        td Godzina zakończenia zbierania ofert
                        td=tenders[0].endTime
                    tr
                        td Maksymalna koszt realizacji przetargu
                        td=tenders[0].maxPrice + " zł"
                h2 Złożone oferty
                    p Liczba ofert: #{number}
                if number < 1
                    p Brak rozstrzygnięcia przetargu
                else
                    table
                        thead
                            tr
                                th Lp
                                th Nazwa oferenta
                            tbody
                                each offer, index in offers
                                    tr
                                        td #{index + 1}
                                        td=offer.bidderName
            footer Przetargi.pl 2025